.card {
    background-color: gray;
    display: block;
    width: 300px;   
    padding: 15px;
    margin: calc(50vh) auto 0 auto;
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px gray, 10px -10px var(--green),
          20px -20px 0 -3px gray, 20px -20px var(--yellow),
          30px -30px 0 -3px gray, 30px -30px var(--orange),
          40px -40px 0 -3px gray, 40px -40px var(--red);
  }
  
  .card:hover {
    animation: rainbow 1s ease infinite;
  }
  
  
  @keyframes rainbow {
    0% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    20% {
      border: 3px solid var(--red);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
        20px -20px 0 -3px var(--background), 20px -20px var(--green),
        30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
        40px -40px 0 -3px var(--background), 40px -40px var(--orange);
    }
    40% {
      border: 3px solid var(--orange);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
        20px -20px 0 -3px var(--background), 20px -20px var(--primary),
        30px -30px 0 -3px var(--background), 30px -30px var(--green),
        40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
    }
    60% {
      border: 3px solid var(--yellow);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
        20px -20px 0 -3px var(--background), 20px -20px var(--red),
        30px -30px 0 -3px var(--background), 30px -30px var(--primary),
        40px -40px 0 -3px var(--background), 40px -40px var(--green);
    }
    80% {
      border: 3px solid var(--green);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
        20px -20px 0 -3px var(--background), 20px -20px var(--orange),
        30px -30px 0 -3px var(--background), 30px -30px var(--red),
        40px -40px 0 -3px var(--background), 40px -40px var(--primary);
    }
    100% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    
  }
  
  :root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: gray;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
  } 
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card p {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 15px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;    
  }

  .title{
      font-size: 40px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;   
  }

  .menu{
    height: 30px;
    width: 70px;
    background: dimgray;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-modal{
    width:100%;
    height: 100%;
    background-color: gray;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 600px;
    height: 350px;
    background-color: var(--primary);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: relative;
   
}
.img{
    border-radius: 50%;
}
.btn{
    border: none;
    outline: none;
    background: none;
    background: lightskyblue;
    padding: 0px;
    width: 100px;
    height: 40px;
    text-align:center;
    margin-top: 40px;
    font-size: 15px;
    color:black;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}
.btn:hover{
    background:rgb(20, 148, 228);
    
}
.input{
    width: 50%;
    display: block;
    margin: 15px auto;
    background: none;
    outline: none;
    border: none;
    border: 2px solid ;
    color: black;
}
.close{
    position: absolute;
    font-size: 22px;
    top:0;
    right:14px;
    cursor: pointer;
